.event-listing-component .not-found-text {
  left: 48%;
}
.event-listing-component .table .image-width {
  width: 7vw;
  height: 10vh;
}
.event-listing-component .table .vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
